button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  //width: 13%; /*166px;*/
  //width: auto;
  height: 50px;
  border-radius: 20px;
  background-color: $color-secondary;
  box-shadow: 2px 2px 5px $color-shadow;
  font-weight: 600;
  transition: transform 0.5s;
  margin-top: 9px;
  margin-right: 20px;
  margin-bottom: 43px;
}
button:hover {
  box-shadow: 2px 2px 5px $color-black;
  transform: scale(1.05);
  cursor: pointer;
}
button#mon_panier {
  width: 42%;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  button#mon_panier {
    width: 28%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  button#mon_panier {
    width: 25%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  button#mon_panier {
    width: 20%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  button#mon_panier {
    width: 15%;
    margin-right: 3%;
  }
}

button#newsletter,
.contact {
  width: 100%;
}
//sur bouton panier//@at-root

.fas,
.fab {
  font-size: 300%;
}
.fa-shopping-cart {
  color: $color-fourth;
}

.newsletter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}
.social,
.contact {
  display: flex;
  justify-content: space-evenly;
}
#confirmer_commande {
  width: 25.5%;
  margin-left: 38%;
  margin-top: 2.3rem;
}
