// Variables
$color-primary: #f3e9f1;
$color-secondary: #bdb2c6;
$color-tertiere: #9700ff;
$color-fourth: #6d5d7d;
$color-five:#c890f7;
$color-shadow: #d3b0ef;
$color-white: #fff;
$color-black: #000000;
