li {
list-style-type: none;
}
.header,.footer{
background-color: #f3e9f1;
}
.header{
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;   
}
.footer{
color: #000;
text-align: center;
}
.header-nav{ 
    margin-left: auto; 
}
.logo{
   object-fit: cover;
}

/* Morph */
img {
  width: 14rem;
  height: 75%;

  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

img:hover {
  width: 14rem; /* on affiche l'image au carré */
  height: 75%;
  border-radius: 10%;  /* on arrondit l'image */
  -webkit-transform: rotate(360deg); /* rotation de l'image */
  transform: rotate(360deg);
}
button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;/*166px;*/
	height: 50px;
	border-radius: 20px;
	background-color: #BDB2C6;
	box-shadow: 2px 2px 5px #D3B0EF;
	font-weight: 600;
	transition: transform .5s;
	margin-top: 9px;
	margin-right: 20px;
}
button:hover {
	box-shadow: 2px 2px 5px #000;
	transform: scale(1.05);
	cursor: pointer;
}

#total, .nombre_article {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	background-color: #9700ff;
	color: #fff;
	line-height: 24px;
	text-align: center;
	font-size: 12px;
}
#borderDemo {
    border-bottom: 5px double #BDB2C6;
}
.fas, .fab{
    font-size: 300%;
    color: #6d5d7d;

}
.social, .newsletter{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: baseline;
}
#contact a,#home a{
    color: #000000;
}
/*page order*/
.home,.commande h1{
    display: flex;
    justify-content: center;
}
.confirmation{
    font-size: 2.1rem;
    font-weight: bold;
    margin-left: 30%;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;

}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
  background-color: #f3e9f1;
}

.container {
  background-color: #f3e9f1;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #bdb2c6;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #cea2ec;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}