li {
list-style-type: none;
}
.container,.footer{
background-color: #f3e9f1;
}
.votre_panier{
	display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
#mon_panier, #panier, #vider_panier{
  width: 14%;
  


}
#mon_panier{
 
  margin-top: -6rem;

}
.container{
   width: 100%;
  
}


color: #000;
text-align: center;
}

img{
   object-fit: cover;
}

/* Morph */


.image_produit{
  width: 77rem;
  height: 40rem;
  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.image_produit:hover {
  width: 77rem; /* on affiche l'image au carré */
  height: 40rem;
  /*border-radius: 10%;  /* on arrondit l'image */
  -webkit-transform: rotate(360deg); /* rotation de l'image */
  transform: rotate(360deg);
}
.logo {
  width: 14rem;
  height: 75%;
  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.logo:hover {
  width: 14rem; /* on affiche l'image au carré */
  height: 75%;
  border-radius: 10%;  /* on arrondit l'image */
  -webkit-transform: rotate(360deg); /* rotation de l'image */
  transform: rotate(360deg);
}


button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;/*166px;*/
	height: 50px;
	border-radius: 20px;
	background-color: #BDB2C6;
	box-shadow: 2px 2px 5px #D3B0EF;
	font-weight: 600;
	transition: transform .5s;
	margin-top: 9px;
	margin-right: 20px;
}
button:hover {
	box-shadow: 2px 2px 5px #000;
	transform: scale(1.05);
	cursor: pointer;
}

#total_item, .nombre_article {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	background-color: #9700ff;
	color: #fff;
	line-height: 24px;
	text-align: center;
	font-size: 12px;
}
.borderDemo {
    border-bottom: 5px double #BDB2C6;
}
.fas, .fab{
    font-size: 300%;
    color: #6d5d7d;

}
.social, .newsletter{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: baseline;
}
#contact ,#home a ,.description{
    color: #000000;
}
/*index*/
#nos-produits {
	max-width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	
}
.name_price,.name_price2 {
	width: 100%;
	height:40px;
	display: flex;
	justify-content: space-between;
	background-color: #bdb2c6;
	color: #000;
	border-radius: 10px 10px 0px 0px;
	padding: 0 6px;
	line-height: 40px;
	font-weight: 600;
}
.name_price_mini {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #000;
  padding: 0 6px;
  line-height: 40px;
  font-weight: 600;
}

//*.contact{
	width: 26%;
    margin-left: 37%;
}
/*page order*/
.home,.commande h1{
    display: flex;
    justify-content: center;
}
.confirmation{
    font-size: 2.1rem;
    font-weight: bold;
    margin-left: 30%;
}
/*product*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price_product,.prix_total {
  color: #000;
  font-size: 22px;
  margin-left: 22px;
}
.prix_total{
  margin-right: 10px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
  
}
.image_produit2{
	width: 100%;
}

#vider_panier, #panier{
width: 100%;
}
.carte_produit_mini {
  width: 40rem;
  height: 20rem;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: 2px 2px 5px #C890F7;
  transition: transform .5s;
  text-align: left;
  margin-bottom: 20px;
  position: relative;
}
.image_produit_mini{
  width: 9rem;
  border-radius: 10px;
}
/*checkout*/
.btn_supprimer, .btn_ajouter{
	color:#000;
	margin-left:22px;
	font-size:18px;	
}
#confirmer_commande, .contact {
	width:28%;
	display: block;
  margin : auto;
}
.resume, #merci{
	display:flex;
	justify-content:space-around;
  flex-wrap: wrap;
	width: 28%;
	font-size: 220%;
  margin-left: 33%;
	
}
	

